.home-demo {
  &__item {
    width: 45px;
    opacity: 0.5;
    cursor: grab;
    margin-bottom: 100px;
    @media screen and (max-width: 1200px) {
      width: 50%;
    }
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }
  &__item:hover {
    opacity: 1;
  }
}
