nav {
  position: fixed !important;
  width: 100%;
  .logo img {
    height: 60px;
    margin-top: 1%;
    margin-left: 4%;
  }
}
.navbar.colorChange {
  background-color: rgb(255, 255, 255) !important;
}
p {
  margin: 0;
}
#burger-toggle {
  visibility: hidden;
  &:checked {
    & ~ .menu {
      animation: 0.5s anim-menu ease-out forwards;
      visibility: visible;

      @keyframes anim-menu {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      .menu-logo {
        margin-left: 50px;
        height: 60px;
        padding: 20px 0;
      }
      .menu-nav {
        display: block;
        animation: 2s anim-popoutin ease-out forwards;
        margin-top: 90px;
        @keyframes anim-popoutin {
          0% {
            transform: scale(0);
            opacity: 0;
          }
          25% {
            transform: scale(1);
            opacity: 1;
          }
          50% {
            transform: scale(1);
            opacity: 1;
          }
          100% {
            transform: scale(1);
            opacity: 1;
          }
        }
      }

      .menu-footer {
        margin-top: 100px;
        -webkit-animation: 1.5s ease 0s normal forwards 1 fadein;
        animation: 1.5s ease 0s normal forwards 1 fadein;
        @keyframes fadein {
          0% {
            opacity: 0;
          }
          66% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }

        @-webkit-keyframes fadein {
          0% {
            opacity: 0;
          }
          66% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
        .menu-footer-adrs {
          p {
            font-size: 12px;
            color: white;
            font-weight: 400;
            margin-left: 4%;
          }
        }
        .social-media {
          list-style: none;
          display: flex;
          justify-content: flex-end;
          margin-right: 4%;
          margin-top: -10px;
          a {
            width: 40px;
          }
          i {
            margin-left: 15px;
            color: #999;
            cursor: pointer;
            &:hover {
              color: #fff !important;
              font-size: 20px;
            }
          }
        }
      }
    }

    & ~ .burger-menu {
      .line {
        &:nth-child(1) {
          transform: translate(2px, 9px) rotate(45deg);
        }

        &:nth-child(2) {
          transform: scaleX(0);
        }

        &:nth-child(3) {
          transform: translate(1px, -4px) rotate(-45deg);
        }
      }
    }
  }
}

.burger-menu {
  --burger-menu-radius: 4em;
  transform: scale(1);
  position: fixed;
  top: 2vh;
  right: 2%;
  z-index: 100;
  display: block;
  width: var(--burger-menu-radius);
  height: var(--burger-menu-radius);
  cursor: pointer;
  &:hover {
    .line::after {
      background-color: #000;
    }
  }
  .line {
    position: absolute;
    left: 25%;
    width: 30%;
    height: 2.7px;
    background: #808080;

    overflow: hidden;
    transition: 0.5s;

    &:nth-child(1) {
      top: 30%;
    }

    &:nth-child(2) {
      top: 41%;
    }

    &:nth-child(3) {
      top: 51%;
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.25s;
      // background: #fff;
      opacity: 0.5;
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #0070c7 !important;
  opacity: 0;
  overflow-x: hidden;
  visibility: hidden;
  &-nav {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;

    &-link {
      display: inline-flex;
      font-size: 48px;
      color: #dddddd !important;
      text-decoration: none;
      font-family: "Manrope";
      line-height: 56px;
      font-weight: bold;
      padding: 2px 0px;
      &:hover {
        color: #fff !important;
      }
    }
  }
}
a {
  text-decoration: none !important;
}
